.carousel__item {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  transform-origin: center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
